@import 'lms/static/sass/partials/base/variables';
$main-color: #E57B25;
$main-color-darker: darken( $main-color, 10%);
$main-color-lighter: lighten( $main-color, 10% );

$action-primary-bg: $main-color;
$action-primary-shadow: $main-color-darker;
$action-primary-focused-bg: $main-color-lighter;
$action-primary-active-bg: $main-color;
$header-border-color: $main-color;

$header-bg: #f4f4f4;
$footer-bg: #3E3E3E;

$link-color: #72A1A9;
$link-hover:  #3E3E3E;

$max-width-mobile:768px;

@font-face {
  font-family: 'proxima nova regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$static-path}/fonts/ProximaSansRegular-Regular.eot?#iefix') format('embedded-opentype'),
   url('#{$static-path}/fonts/ProximaSansRegular-Regular.woff') format('woff'),
   url('#{$static-path}/fonts/ProximaSansRegular-Regular.ttf')  format('truetype'),
   url('#{$static-path}/fonts/ProximaSansRegular-Regular.svg#ProximaSansRegular') format('svg');
}

$sans-serif: 'proxima nova regular';
$body-font-family: 'proxima nova regular';
$f-sans-serif: 'proxima nova regular';
$header-sans-serif: 'proxima nova regular';
$f-serif: 'proxima nova regular';
$f-monospace: 'proxima nova regular';
