## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%!
  from datetime import date
%>
<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div class="colophon">

        <div class="wrapper-logo">
          <p>
            <a href="https://babsim.com/">
              ## The default logo is a placeholder.
              ## You can either replace this link entirely or update
              ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
              ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
              ## can be included in the footer on other sites
              ## (e.g. a blog or marketing front-end) to provide a consistent
              ## user experience.  See the branding app for details.
              <img alt="organization logo" src="${static.url('images/BabbageSimmelAcademy-LogoFooter.png')}">
            </a>
          </p>
        </div>

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">© Copyright 2018 • Babbage Simmel. All Rights Reserved.</p>

        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
              <li class="nav-legal-01">
                <a href="/privacy">Privacy Policy</a>
              </li>
              <li class="nav-legal-01">
                <a href="/tos">Terms of Service & Honor Code</a>
              </li>
          </ul>
        </nav>
      </div>

      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <div class="footer-about-openedx">
        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol>
              <li class="nav-colophon-01">
                <a id="about" href="https://babsim.com/about/">About</a>
              </li>
              <li class="nav-colophon-02">
                <a id="babbage-simmel" href="https://babsim.com/">Babbage Simmel Home</a>
              </li>
              <li class="nav-colophon-03">
                <a id="contactUs" href="https://babsim.com/contact/">Contact Us</a>
              </li>
          </ol>
        </nav>
        <section class="social-feed">
        <a href="https://www.linkedin.com/company/babbage-simmel/" target="_blank">
          <span class="icon fa fa-linkedin" aria-hidden="true"></span>
        </a>
        <a href="https://twitter.com/babsim" target="_blank">
          <span class="icon fa fa-twitter" aria-hidden="true"></span>
        </a>
        <a href="https://www.facebook.com/BabbageSimmel/" target="_blank">
          <span class="icon fa fa-facebook" aria-hidden="true"></span>
        </a>
        <a href="https://www.instagram.com/babbagesimmel/" target="_blank">
          <span class="icon fa fa-instagram" aria-hidden="true"></span>
        </a>
      </section>
      <div class="power-icon-footer">
        <a href="${footer['openedx_link']['url']}" class="img-openedx">
          <img src="${static.url('images/openedx-white.png')}" alt="${footer['openedx_link']['title']}" width="121" />
        </a>
        <a href="https://www.proversity.org/" class="img-proversity">
          <img src="${static.url('images/proversity-white.png')}" width="110" />
        </a>
      </div>
      </div>
      % endif
    </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
