/**** Footer ***/
div.wrapper-footer.wrapper-footer.wrapper {
  min-height: 168px;
  padding-top: 0px;
}

.wrapper-footer.wrapper footer#footer-openedx {
	margin-top: 20px;

  .colophon {
		width: 40%;

		.nav-colophon li a {
		  color: #F3F3F3;
		}
	}

  div.footer-about-openedx
  nav.nav-colophon ol {
    display:flex;

    li {
      margin-right: 8px;
      margin-left: 2px;

      a {
        color:white;
      }
    }
  }

	p.copyright {
		color: #F3F3F3;
    margin: 69px 0 4px 0px;
	}

	.powered-icons {
		float: right;
		width: 23%;
    margin-top: 100px;

    div p a img {
      margin-left: 5px;
      max-width: none;
      width: 121px;
    }

    div.footer-about-openedx.icon-proversity p a img {
      width: 110px;
      margin-top: 3px;
    }
	}

	.footer-about-openedx {
		float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 341px;
		margin-top: 20px;

    nav.nav-colophon {
      margin-top: -7px;
    }

    section.social-feed {
      margin-top: 4px;
      margin-bottom: 28.5px;
    }

		a span {
			margin: 15px;
		}

    span.icon.fa {
      font-size: 21px;
    }

    a.img-openedx img {
      margin-left: 5px
    }
	}

	.footer-about-openedx.icon-proversity {
		margin: -3px 0;
	}

	div.wrapper-logo {
    margin-bottom: 50px;
    margin-top: 0px;

    img {
      max-width: 160px;
      max-height: 60px;
      margin-top: 9px;
	  }
	}

}

//forum
body.ltr.discussion.lang_en {
  div.wrapper-footer.wrapper footer#footer-openedx .colophon {
    width: 764px;
  }

  div.wrapper-footer footer#footer-openedx ul {
    margin-left: 0;
  }

  .wrapper-footer.wrapper footer#footer-openedx
  div.footer-about-openedx nav.nav-colophon ol li {
   list-style: none;
  }

  .wrapper-footer footer#footer-openedx p {
    margin: 0 0 0.25rem 0;
  }

  @media only screen and (max-width: $max-width-mobile) {
     div.wrapper-footer.wrapper footer#footer-openedx
     div.footer-about-openedx nav.nav-colophon {
        margin-left: 0;
     }

     div.wrapper-footer.wrapper
     footer#footer-openedx div.colophon {
        width: 54%;
     }
  }
}

@media only screen and (max-width: $max-width-mobile) {

  div.wrapper-footer.wrapper footer#footer-openedx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;

    div.footer-about-openedx {
      justify-content: center;
    }


    .colophon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 321px;
      margin: 0 10% 0 10%;
    }

    .wrapper-logo {
      margin: 28px 0;

      img {
        max-width: 232px;
      }
    }
  }
}

@media only screen and (max-width: 363px) {
  div.wrapper-footer.wrapper footer#footer-openedx {
    div.colophon {
      margin: 0;
    }
  }
}
