
/***** Navigation ***/
.logo a {
 	transition: all 0.1s linear 0s;

 	&:hover {
 		transform: scale3d(1.03,1.03,1.03);
 	}

 	img{
 		max-height: 60px;
 	}

 }

@media (min-width: 768px) {
	 ol.dropdown-list {
	 	display: none;
	 }
}

 @media (max-width: 768px) {
	.hidden-mobile {
		display: none !important;
	}

	header.header-global ol.nav-global {
		width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    font-size: 28px;
	    background: white;
	    margin-top: 10px;
        margin-bottom: 10px;
	    margin-right:0;

    }

    header.header-global.slim ol.nav-global {
    	display:flex;
    }

    .header-global.slim .wrapper-header ol.left.nav-global.list-inline.authenticated {
    	margin-top: 0px;
    }

    ol.left.nav-global.list-inline.authenticated.dropdown-list {
    	margin-bottom: 0px;
    }

    .header-global nav.wrapper-header,
    body.view-in-course .header-global.slim nav.wrapper-header,
    body.view-in-courseheader.header-global.slim
    nav.wrapper-header {
	    padding-right: 0;
	    padding-left: 0;
    }

    header.header-global h1.logo {
    	margin: -8px 39px 0 10px;
    }

    header.header-global.slim h1.logo img {
    	margin-left: 10%;
    }

    header.header-global
    ol.right.nav-courseware.list-inline {
	    width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    font-size: 28px;
	    background: white;
	    margin-top: 50px;
        margin-bottom: 10px;
	    margin-right: 0;
    }

    header.header-global .nav-global li,
    header.header-global .nav-global div {
    	margin: 0;
    	width: 100%;
    }

    .header-global ol.nav-global li a,
    .header-global ol.nav-global div a {
    	text-align: center;
    	border: 1px solid;
    }
}



@media (max-width: 768px){
.hamburger-menu .line {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #767676;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
}

@media (max-width: 768px){
	.hamburger-menu {
	    right: 40px;
	    position: absolute;
	    top: 20px;
	    width: 30px;
	    height: 20px;
	    padding-bottom: 5px;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: 0.5s ease-in-out;
	    transition: 0.5s ease-in-out;
	    cursor: pointer;
	}
}

@media (max-width: 991px){
    .hamburger-menu .line {
		&:nth-child(1) {
		    top: 0;
		}

		&:nth-child(2),
		&:nth-child(3) {
		    top: 10px;
		}

	    &:nth-child(4) {
		    top: 20px;
		}
    }

    .hamburger-menu.open .line {
		&:nth-child(1) {
		    top: 18px;
		    width: 0%;
		    left: 50%;
		}

		&:nth-child(2) {
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		}

		&:nth-child(3) {
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}

		&:nth-child(4) {
		    top: 18px;
		    width: 0%;
		    left: 50%;
        }
    }
}

 .window-wrap .header-global{
 	border-bottom: 1px solid #E57B25;
 }

 .header-global .user .user-menu .dropdown{
 	background: #f4f4f4
 }

 .search-bar .search-field .search-button{
 	background: #E57B25;
 }

.header-global ol.nav-global {
 	float: right;
 	margin-top: 14px;
 	margin-right: 14px;
}

ol.right.nav-courseware.list-inline {
    margin-top: 6px;
}

section.courses-container {
	padding: 20px;
}

/*** Banner ***/
.window-wrap{
	.home>header div.outer-wrapper {
      height: 257px;
    }

	.home>header .title{
		background: transparent;
		box-shadow: none;

		.course-search .search-button{
			background: #E57B25;
			border: 2px solid #c36111;
		}

		div.heading-group {
			h1 ,
		    p {
		  		color: white;
		    }
		}
	}
}

/**** Footer ***/
.wrapper-footer.wrapper footer#footer-openedx{
	.colophon{
		width: 40%;

		.nav-colophon li a{
		color: #F3F3F3;
		}
	}

	.copyright{
		color: #F3F3F3;
	}

	.powered-icons{
		float: right;
		width: 23%;
        margin-top: 100px;

        div p a img {
        	margin-left: 5px;
        	max-width:none;
        }
	}

	.footer-about-openedx {
		width: 29%;
		margin-top: 100px;

		a span {
			margin: 15px;
		}
	}

	.footer-about-openedx.icon-openedx{
		margin: -3px 0;
	}

	.wrapper-logo {
    	img {
    		max-width: 80px;
	    }
	}

}

/***** static-template ***/
section.container.about h4 {
    margin-bottom: 8px;
    margin-top: 20px;
    color: #E57B25;
}

/***** Instructor ***/
body.view-in-course.view-instructordash .window-wrap {
	min-width: 0;
}

/*** Profile ***/
.view-profile .content-wrapper .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy{
	min-width: 0;
}

/*** course-view ***/


/*** course-home ***/

@media (max-width: 768px){
	.home div.page-header-main {
		padding: 20px;
	}

	.container div.home {
		padding:0
	}
}

/*** course-courses ***/
@media (max-width: 768px){
	div.courseware-bookmarks-button {
		width: 100%;
		margin-bottom: 10px;
	}

	div.search-bar div.search-field-wrapper
	.wrapper-course-modes button.search-button {
		right: -63px;
	}

	div#courseware-search-bar form {
		width: 100%;
	}

    body.ltr.view-in-course.view-progress.lang_en.touch-based-device,
	body.ltr.view-in-course.view-courseware.courseware.lang_en.touch-based-device {
		background: #fff;
	}

}

/*** course-instructor ***/
@media (max-width: 768px){
    section.instructor-dashboard-content-2
    ul.instructor-nav {
		display: flex;
	    flex-wrap: wrap;
	}

}

/** Course about **/
.content-wrapper .course-info header.course-profile .intro-inner-wrapper{
	min-width: 0;
}

section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses,
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart,
section.course-info header.course-profile .intro-inner-wrapper section.intro .main-cta>a.find-courses:hover,
section.course-info header.course-profile .intro-inner-wrapper section.intro .main-cta a.register:hover,
section.course-info header.course-profile .intro-inner-wrapper section.intro .main-cta a.add-to-cart:hover,
input[type="submit"],
input[type="button"],
button,
div.heading-group h1 button,
div.heading-group h1 button:hover {
    box-shadow: 0 2px 1px 0 #c06317;
    background: #E57B25;
    color: #fff;
    border: 0;
    border-bottom: 0;
}

@media (max-width: 768px){
	.course-info header.course-profile
	.intro-inner-wrapper .media div.hero img {
		display: none;
	}
}

/**course forum**/
body.ltr.discussion.lang_en {
	button {
	    box-shadow: none !important;
	}
}

/****** Responsive ****/
@media only screen and (max-width: 576px) {

	.window-wrap {

		div.info-wrapper section.handouts {
			padding: 0;
		}

		.course-header {
			width: 65%;
		}

		.dashboard .my-courses .course .details{

			.course-title a{
			font-size: 25px;
			line-height: 25px;
			}
			.wrapper-course-image{
				width: 100%;

				.cover{
				margin: 20px;

				.course-image{
				height: 120px;
				width: 180px;
					}
				}
			}

			.wrapper-course-details{
			float: none;
			width: 100%;
			}

		}

		 .course-info .course-sidebar header .social-sharing{
		 	height: 70px;
		 }

		 .course-info{

		 	.container{
		 		padding: 25px;
		 	}

		 	.details {
		 		width: 100%;
		 	}

		 	 .course-sidebar{
		 	width: 100%;
		 	padding: 10px;
		 	} 

		 	header.course-profile{
		 		padding-top: 70px;
		 		height: 500px;

		 		.intro-inner-wrapper{
		 			margin: 25px;

		 			.intro{
			 		display: block;
			 		width: 100%;
			 		}

			 		.media{
			 		display: block;
			 		width: 100%;
			 		text-align: center;
			 		text-align: -webkit-center;

			 			.hero{
			 				width: 70%;
			 			}
			 		}

		 		}
		 	}
		 }

		 .wrapper-account-settings .account-settings-container{
		 	padding: 20px;
		 }

		 .account-settings-sections .section .account-settings-section-body .u-field{
		 	width: 100%;

		 	.field{
		 		width: 100%;
		 	}

		 	.u-field-message{
		 		width: 100%;
		 		padding: 10px 0;
		 	}
		 }
	}
}

@media only screen and (max-width: 768px) {

	.window-wrap {

		.container {
			min-width: 0;

			.search-responsive {
			width: 90%;
			float: none;
			}

			.my-courses{
				width: 90%;
				margin-left: 5%;
			}
		}

		.xmodule_display.xmodule_SequenceModule .sequence-nav {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    height: auto;
	    margin: 0 auto;

	    .sequence-nav-button.button-previous,
	    .sequence-nav-button.button-next {
	    	margin: .75rem 0;
		    border-radius: 3px;
		    -webkit-flex: 0 0 100%;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    min-height: 44px;
	    }

	    .sequence-list-wrapper {
      		-webkit-flex: 0 0 100%;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    min-height: 44px;
	    }

	    ol {
	    	position: relative;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	    }

	    li {
	    	-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    min-width: 52px;
		    border-right-style: solid;

		    &:first-child {
		    	border-left-style: solid;
		    }
	    }
	}

	}

	.view-in-course.view-course-info .window-wrap {
		min-width: 70px;
	}


}


@media only screen and (max-width: 767px) {
  div.wrapper-footer.wrapper footer#footer-openedx {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;

      div.colophon {
      	  width: 100%;
	  }

      div.footer-about-openedx {
          margin-top: 10px;
          height: 50px;
          width: 100%;

          p a {
          	  float: left;
          }

          section.social-feed  a {
          	float: left;
          }
      }

      div.powered-icons {
          margin-top: 30px;
          width: 100%;
          display: flex;
      }
  }
}
