
/***** Navigation ***/
.logo a {
 	transition: all 0.1s linear 0s;

 	&:hover {
 		transform: scale3d(1.03,1.03,1.03);
 	}

 	img{
 		max-height: 60px;
 	}
 	
 }

 .window-wrap .header-global{
 	border-bottom: 1px solid #E57B25;
 }

 .header-global .user .user-menu .dropdown{
 	background: #f4f4f4
 }

 .search-bar .search-field .search-button{
 	background: #E57B25;
 }

/*** Banner ***/
.window-wrap{
	.home>header .title{
		background: #ffffffde;

		.course-search .search-button{
			background: #E57B25;
			border: 2px solid #c36111;
		}
	}
}

/**** Footer ***/
.wrapper-footer.wrapper footer#footer-openedx{
	.colophon{
		width: 40%;

		.nav-colophon li a{
		color: #F3F3F3;
		}
	} 

	.copyright{
		color: #F3F3F3;
	}

	.powered-icons{
		float: right;
	}

	.footer-about-openedx{
		 a span{
		margin: 15px;
		}
	}

	.footer-about-openedx.icon-openedx{
		width: 100%;
		margin: 20px 0;
	}

} 

/***** Instructor ***/
body.view-in-course.view-instructordash .window-wrap {
	min-width: 0;
}

/*** Profile ***/
.view-profile .content-wrapper .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy{
	min-width: 0;
}

/** Course about **/
.content-wrapper .course-info header.course-profile .intro-inner-wrapper{
	min-width: 0;
}

/****** Responsive ****/
@media only screen and (max-width: 576px) {

	.window-wrap {
		.header-global {
		height: 120px;
		}

		div.info-wrapper section.handouts {
			padding: 0;
		}

		.course-header {
			width: 65%;
		}

		.dashboard .my-courses .course .details{

			.course-title a{
			font-size: 25px;
			line-height: 25px;
			}
			.wrapper-course-image{
				width: 100%;

				.cover{
				margin: 20px;

				.course-image{
				height: 120px;
				width: 180px;
					}
				} 
			} 

			.wrapper-course-details{
			float: none;
			width: 100%;
			}

		}

		 .course-info .course-sidebar header .social-sharing{
		 	height: 70px;
		 }

		 .course-info{

		 	.container{
		 		padding: 25px;
		 	}

		 	.details {
		 		width: 100%;
		 	}

		 	 .course-sidebar{
		 	width: 100%;
		 	padding: 10px;
		 	} 

		 	header.course-profile{
		 		padding-top: 70px;
		 		height: 500px;

		 		.intro-inner-wrapper{
		 			margin: 25px;

		 			.intro{
			 		display: block;
			 		width: 100%;
			 		}

			 		.media{
			 		display: block;
			 		width: 100%;
			 		text-align: center;
			 		text-align: -webkit-center;

			 			.hero{
			 				width: 70%;
			 			}
			 		}

		 		} 
		 	} 
		 }

		 .wrapper-account-settings .account-settings-container{
		 	padding: 20px;
		 }

		 .account-settings-sections .section .account-settings-section-body .u-field{
		 	width: 100%;

		 	.field{
		 		width: 100%;
		 	}

		 	.u-field-message{
		 		width: 100%;
		 		padding: 10px 0;
		 	}
		 }
	}	
}

@media only screen and (max-width: 768px) {

	.window-wrap {

		.container {
			min-width: 0;

			.search-responsive {
			width: 90%;
			float: none;
			}

			.my-courses{
				width: 90%;
				margin-left: 5%;
			}
		}

		.header-global.slim{
			height: 120px;
		}

		.xmodule_display.xmodule_SequenceModule .sequence-nav {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    height: auto;
	    margin: 0 auto;

	    .sequence-nav-button.button-previous,
	    .sequence-nav-button.button-next {
	    	margin: .75rem 0;
		    border-radius: 3px;
		    -webkit-flex: 0 0 100%;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    min-height: 44px;
	    }

	    .sequence-list-wrapper {	    	
      		-webkit-flex: 0 0 100%;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    min-height: 44px;
	    }

	    ol {
	    	position: relative;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	    }

	    li {
	    	-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    min-width: 52px;
		    border-right-style: solid;

		    &:first-child {
		    	border-left-style: solid;
		    }
	    }
	}

	}

	.view-in-course.view-course-info .window-wrap {
		min-width: 70px;
	}

		
}

@media only screen and (max-width: 336px){
	body .window-wrap .header-global.slim{
		height: 200px
	}
	body .window-wrap .header-global{
		height: 150px;
	}
}